html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

/*
underline for navigation a tags
border-bottom: .2rem;
*/

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  text-align: center;

  grid-area: banner;
}

header h1 {
  margin-bottom: 0;
  margin-top: .87rem;
  padding: 0;

  display: flex;
  flex-direction: column;
}

span {
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

li {
  padding: 0 .55em;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

/* header img {
  margin: 0;
  padding: 1rem;
  padding-bottom: .5rem;
  display: block;
  width: 100%;
} */

main img {
  margin-bottom: 1.5rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
}

article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 1.25rem;
}

article img {
  margin-bottom: 0;
}

article a {
  font-size: 1rem;
  text-decoration: none;
  border: .15rem solid #3783a3;
  border-radius: .3rem;
  padding: .5em 1em .6em;
}

main {
  margin: 1rem;
  padding-top: 0;

  grid-area: main;
}

div i {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

div {
  text-align: center;
  padding: 1rem;

  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

article i {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

article p {
  margin-top: .75rem;
  margin-bottom: 1.5rem;
}

footer {
  font-size: .82rem;
  text-align: center;
  margin-top: 1.5rem;
  padding-top: .5rem;

  border-top: .2rem solid #e2e2e2;

  grid-area: footer;
}

@media only screen and (min-width: 38em) {

  header {
    margin: 1.5rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-areas:
      "left right";
  }

  h1 {
    grid-area: left;
    text-align: left;
  }

  span {
    grid-area: left;
    text-align: left;
  }

  nav {
    grid-area: right;
    padding-top: 2.5rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  nav li {
    padding-right: 0;
  }

  /* header img {
    margin-top: 10rem;
    padding: 0;
    width: 100%;
    display: flex;

    grid-area: image;
  } */

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 1.5rem;
  }

  section img {
    width: 100%;
  }

}

@media only screen and (min-width: 62.5em) {

  div {
    justify-content: center;
  }

}
